body { 
	background-color:white;
	color:#50595c;
	font-family:Roboto, 'Segoe UI', Tahoma, sans-serif;
	font-size: normal;
	text-align:center;	
}
img {
	margin: 0 auto;
	width:150px;
	height:150px;
	
}
iframe{
	margin: 0 auto;
	width:430px;
	height:430px;	
}
h1 { 
	color:#302939;
	font-family:Poppins,sans-serif;
}
h2{
	color:#975a5e;
	font-family:Poppins,sans-serif;
	font-size:20px;
	font-weight:normal;
	}
h3{ 
	color:rgb(189, 188, 189);
	font-family:Poppins,sans-serif;
	font-size:small;
}
h5{
	color:#c06c84;
}

ul,ol {	
	color:#50595c;
	list-style-type:circle;
}

a {
	color:#302939;
	font-family:Poppins,sans-serif;
	font-size:;
	}
a:hover {
	color: #c06c84;
	background-color: #fff;
}
div {
  justify-content: flex-start;
}


#menu {
width: 100%; 
float: leftwards; 
margin: 0 0 0 0; 
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
padding-left: 38%;
list-style: none; 
border-bottom: 1px solid white;
border-top: 1px solid white;
}
#menu li {
float: left; 
} 
#menu li a {
display: block; 
padding: 8px 15px; 
text-decoration: none; 
font-weight: bold;
font-size:normal;
color: #50595c;
border-right: 1px solid #ccc;
} 
#menu li a:hover {
color: #c06c84;
background-color: #fff;
}

.my-details{
	color:#e99b9b;
	font-weight:normal;
}
.intro{
	color:#50595c;
	font-size:normal;
	text-align:justify;
	margin:0 auto;
	width:40em;	
}
.introBold {
	font-weight:bold;
}
.header{
	color:#c06c84;
	text-shadow:2px 2px 3px #e99b9b;
	font-size:normal;	
}
.employer{	
	font-weight:bolder;
}
.container-1{
	display:flex;
	align-items:flex-start;
	width:60%;
	margin: 0 auto;
	
}
.container-1 div{
	color:#50595c;
	border:2px #c06c84 solid;
	padding:10px;
}
.box1{
	flex:1;
}
.box2{
	flex:2;
}
.box3{
	flex:1;
}

@media (min-width: 1000px) {
	.flex-container div{
	background-color: #c06c84;
}

}
.row{
	margin-top:100px;
	min-height:100px;
	justify-content:space-between;
}
.skills{
	text-align: justify;
	text-justify: inter-word;
}
.list-group{
	width:35%;
	margin: 0 auto;
}
